body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #656464;
    background-color: #fdede4;
}

/* Header */

header {
    text-align: center;
    padding: 2rem;
    background-color: #a87755;
    color: white;
    position: relative; /* Enables positioning of child elements */
}

.coffee-image {
    position: absolute;
    top: 10px;
    right: 10px;
}

.coffee-image img {
    width: 150px;
    height: auto;
}

nav {
    background-color: #110a0a;
    color: white;
    text-align: center;
    padding: 0.5rem;
}

nav a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* Main content */
main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

.menu-item {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.price {
    font-weight: bold;
    color: #a58a76;
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
}